/..bfg-report/*
/__pycache__/*
/**/__pycache__/*
/.idea/workspace.xml
/.DS_Store
/.idea/*
/build/*
/log/*
/model/*
/data/results/*
/simulator/nlg_model/seq2seq/*
/data/*
/human_evaluation/*
data/multiwoz-master/data/multi-woz/data.json
data/multiwoz-master/data/multi-woz/delex.json
/test/*    # parlai
